.wrap {
  width: 306px;
}

.labelWrap {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 231px;
  padding-top: 80px;
}

.labelWrapRight {
  padding-top: 315px;
  padding-left: 231px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: right;
}

.label {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
  color: #6c63ff;
}

.card {
  width: 306px;
  height: 246px;
  border-radius: 20px;
  background: rgba(108, 99, 255, 0.05);
  padding: 10px 10px 15px;
  display: flex;
  flex-direction: column;
}

.imageFrame {
  width: 286px;
  height: 186px;
  margin: 0 auto;
}

.image {
  width: 286px;
  height: 186px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.bottom {
  margin-top: 15px;
  height: 20px;

  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}

.dots {
  display: flex;
  gap: 15px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: none;
  background: #cbaf87;
  flex: 0 0 auto;
}

.active {
  box-shadow: 0 0 4px 2px rgba(203, 175, 135, 0.5);
}

.caption {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: #cbaf87;
  line-height: 1;
}

.project .caption {
  margin-left: auto;
}

.tools .dots {
  margin-left: auto;
}
