/* Base */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: var(--height-btn-40);
  min-width: var(--min-width-btn-144);
  padding: 14px 22px;
  border-radius: var(--border-radius-btn-20);

  font-size: var(--fz-btn-16);
  font-weight: var(--fw-btn-500);
  text-transform: capitalize;
}

.normal {
  background: var(--color-btn-basic);
  color: white;
}

.tab {
  background: var(--color-btn-tab);
  color: var(--text-btn-tab);
}

/* Tablet */
@media only screen and (min-width: 720px) {
}

/* Desktop */
@media only screen and (min-width: 1320px) {
}
