/* Base */
.root {
  width: 100%;
}

.wrap {
  position: relative;
  overflow: visible;
  height: 296px;
}
.success {
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  transform: translateY(-100%);
  z-index: 2;
  font-size: var(--fz-16);
  color: var(--gold);
  pointer-events: none;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--radius-20);
  background: var(--accent-10);
  padding: 12px;
  gap: 20px;
  height: 296px;
}

.field {
  position: relative;
}
.fieldtext {
  position: relative;
  height: 165px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: var(--border-accent-1);
  background: var(--bg);
  color: var(--text);
  outline: none;
}

.input::placeholder,
.textarea::placeholder {
  font-size: var(--fz-16);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--accent-50);
}

.input:hover,
.textarea:hover,
.input:focus,
.textarea:focus {
  border-color: var(--gold);
  box-shadow: none;
  outline: none;
}

.inputError,
.inputError:hover,
.inputError:focus,
.textareaError,
.textareaError:hover,
.textareaError:focus {
  border-color: var(--danger);
  box-shadow: none;
  outline: none;
}

.errorBadge {
  position: absolute;
  left: 20px;
  bottom: -9px;
  border: var(--border-danger-1);
  border-radius: 20px;
  height: 19px;
  padding: 3px 20px;
  font-size: var(--fz-11);
  line-height: 13px;
  color: var(--danger);
  background: var(--bg);
  pointer-events: none;
}

.btn {
  height: 40px;
  border-radius: 20px;
  background: var(--accent);
  color: var(--text);
  font-size: var(--fz-16);
  border: none;
  cursor: pointer;
}
.submitBtn {
  width: 100%;
}

.counter {
  position: absolute;
  right: 20px;
  bottom: 8px;
  font-size: var(--fz-16);
  color: var(--gold);
  pointer-events: none;
}

/* scrollbar / textarea  */
.textarea {
  overflow: auto;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--bg);
}
.textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.textarea::-webkit-scrollbar-button,
.textarea::-webkit-scrollbar-button:start:decrement,
.textarea::-webkit-scrollbar-button:end:increment,
.textarea::-webkit-scrollbar-button:single-button {
  display: none;
}
.textarea::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 20px;
  margin-block: 10px;
}
.textarea::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
}
.textarea:hover::-webkit-scrollbar-thumb,
.textarea:focus::-webkit-scrollbar-thumb,
.textarea::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}
.textarea::-webkit-resizer {
  display: none;
}

/* Tablet */
@media only screen and (min-width: 720px) {
  .root {
    width: 431px;
  }
  .form {
    width: 431px;
    height: 363px;
  }
  .input {
    height: 40px;
  }
  .textarea {
    height: 165px;
  }
}

/* Desktop */
@media only screen and (min-width: 1320px) {
  .root {
    width: 636px;
  }
  .form {
    width: 636px;
    height: 435px;
  }
  .fieldtext {
    height: 235px;
  }
  .textarea {
    height: 235px;
  }
  .textarea::-webkit-scrollbar-track {
    margin-block: 18px;
  }
}
