/* Base */
.hero {
  padding-top: 50px;
  padding-bottom: 100px;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  gap: 50px;
}

.desktopOnly {
  display: none;
}

.side {
  display: grid;
  align-content: start;
}

.orb {
  position: relative;
  margin-inline: auto;
  display: grid;
  place-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  max-width: 304px;
  min-height: 304px;
  background-image: url('/images/hero/mobile-bg.png');
}

@media (min-resolution: 2dppx) {
  .orb {
    background-image: url('/images/hero/mobile-bg@2x.png');
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 24px;
}

.title {
  font-size: var(--fz-18);
  font-weight: var(--fw-medium);
  line-height: var(--lh);
  letter-spacing: var(--ls-h1-02);
  text-transform: uppercase;
  color: var(--accent);

  max-width: 190px;
  text-align: center;
  margin: 0 auto 10px;
  text-shadow: var(--text-shadow-accent);
}

.sub {
  font-size: var(--fz-15);
  font-weight: var(--fw-regular);
  line-height: var(--lh-sub-hero);
  letter-spacing: var(--ls-h1-02);
  color: var(--text);
  max-width: 250px;
  text-align: center;
}

.ctaMobile {
  display: grid;
  place-items: center;
}

/* Tablet */
@media only screen and (min-width: 720px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
  }

  .center {
    gap: 0;
  }

  .orb {
    max-width: 450px;
    min-height: 550px;
    background-image: url('/images/hero/tab-bg.png');
  }

  @media (min-resolution: 2dppx) {
    .orb {
      background-image: url('/images/hero/tab-bg@2x.png');
    }
  }

  .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 160px;
  }

  .title {
    font-size: var(--fz-30);
    max-width: 300px;
    margin: 0 auto 15px;
  }

  .sub {
    max-width: 600px;
  }

  .ctaMobile {
    display: none;
  }
}

/* Desktop */
@media only screen and (min-width: 1320px) {
  .hero {
    padding-bottom: 0;
  }

  .grid {
    grid-template-columns: 1fr minmax(680px, 1.2fr) 1fr;
    align-items: start;
    gap: 0;
  }

  .desktopOnly {
    display: block;
  }

  .orb {
    max-width: 700px;
    min-height: 850px;
    background-image: url('/images/hero/desk-bg.png');
  }

  @media (min-resolution: 2dppx) {
    .orb {
      background-image: url('/images/hero/desk-bg@2x.png');
    }
  }

  .content {
    padding-bottom: 250px;
  }

  .title {
    font-size: var(--fz-50);
    max-width: 400px;
    margin: 0 auto 20px;
  }

  .sub {
    padding: 0 40px;
    font-size: var(--fz-18);
  }
}
