/* Base */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 40px;
}

.inline {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  font-size: var(--fz-20);
  font-weight: var(--fw-regular);
  text-transform: capitalize;
  color: var(--basic-color-text);
  text-decoration: none;
}

/* Tablet */
@media only screen and (min-width: 720px) {
  .link {
    font-size: var(--fz-16);
  }

  .inline {
    gap: 25px;
  }

  .inline > li > a {
    padding-block: 10px;
  }
}

/* Desktop */
@media only screen and (min-width: 1320px) {
  .inline {
    gap: 50px;
  }

  .inline > li > a {
    padding-block: 20px;
  }
}
