.root {
  box-sizing: border-box;
  width: 304px;
  height: 440px;
  border-radius: 20px;
  background: rgba(108, 99, 255, 0.1);
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.figureWrap {
  width: 284px;
  height: 271px;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

.info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  color: #f5f5f5;
  width: 100%;
  margin-bottom: 20px;
}

.city {
  margin-bottom: 10px;
}

.email {
  color: #f5f5f5;
  text-decoration: none;
}

.contacts {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 720px) {
  .root {
    width: 249px;
    height: 378px;

    padding: 12px 12px 20px;
  }

  .figureWrap {
    width: 225px;
    height: 215px;
  }

  .contacts {
    padding-left: 10px;
    padding-right: 10px;
  }

  .info {
    font-size: 14px;
  }
}

@media (min-width: 1320px) {
  .root {
    width: 636px;
    height: 437px;

    padding: 10px 10px 20px;
  }

  .figureWrap {
    width: 406px;
    height: 417px;
  }
}
