/* Base */
.header {
  position: static;
  z-index: 42;
  padding-top: 20px;
  background: var(--bg);
  backdrop-filter: blur(6px);
}

.inner {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: inline-flex;
  align-items: center;
}

.menuBtn {
  padding: 0;
  background: transparent;
  border: none;
  display: grid;
  place-items: center;
}

.iconSquare {
  width: 40px;
  height: 40px;
}

.navInline {
  display: none;
}

.hireBtnWrap {
  display: none;
}

/* Tablet */
@media only screen and (min-width: 720px) {
  .inner {
    justify-content: flex-start;
  }

  .menuBtn {
    display: none;
  }

  .brand {
    margin-right: 96px;
  }

  .navInline {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  .hireBtnWrap {
    display: inline-flex;
  }

  .hireBtn {
    min-width: 158px;
  }
}

/* Desktop */
@media only screen and (min-width: 1320px) {
  .brand {
    margin-right: 354px;
  }

  .navInline {
    margin-right: 244px;
  }

  .hireBtn {
    min-width: 196px;
  }
}

.offTop {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 135px;
}

.offNav {
  margin-top: 100px;
  margin-bottom: 135px;
}

.bottom {
  margin-top: auto;
}
