/* Base */
.menuBtn {
  padding: 0;
  background: transparent;

  display: grid;
  place-items: center;
}

.iconSquare {
  width: 40px;
  height: 40px;
}

/* Tablet */
@media only screen and (min-width: 720px) {
}

/* Desktop */
@media only screen and (min-width: 1320px) {
}
