/* Базові стилі секції */
.section {
  padding-block: 32px;
}

/* Утиліти падінгів */
.padSm {
  padding-block: 20px;
}
.padMd {
  padding-block: 32px;
} /* за замовченням */
.padLg {
  padding-block: 48px;
}

/* Хедер секції */
.header {
  margin-bottom: 30px;
}

/* Вирівнювання хедера */
.headerCenter {
  text-align: center;
}

/* Kicker + H2 (уніфіковано для всіх секцій) */
.kicker {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.h2 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: var(--accent);
  text-transform: uppercase;
  text-shadow: 0 0 50px rgba(108, 99, 255, 0.3);
}

/*
.section {
  padding-block: 32px;
}

.header {
  margin-bottom: 30px;
}

.kicker {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: #f5f5f5;
  margin-bottom: 5px;
}

.h2 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: var(--accent);
  text-transform: uppercase;
  text-shadow: 0 0 50px rgba(108, 99, 255, 0.3);
}
*/
