/* Base */
.section {
  padding-block: 50px;
}

.header {
  margin-bottom: 30px;
}

.kicker {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.h2 {
  font-size: var(--fz-h2-mobile);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-h2-06);
  text-transform: uppercase;

  color: var(--accent-color-text);
  text-shadow: var(--text-shadow-accent);
}

/* Tablet */
@media only screen and (min-width: 720px) {
}

/* Desktop */
@media only screen and (min-width: 1320px) {
  .section {
    padding-block: 75px;
  }

  .header {
    margin-bottom: 50px;
  }

  .kicker {
    font-size: var(--fz-kicker-desk);
    margin-bottom: 10px;
  }

  .h2 {
    font-size: var(--fz-h2-desk);
  }
}
